 /* h1 {
      border: #000000;
      border-style: double;
      background-color: rgb(6, 66, 66);
      text-align: center;
      margin: 10px;
      padding: 20px;
    } */

img {
    margin: 20px 30px 20px 20px;
}




.section1 {
    background-image: url(../bg6.png);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

/* typing text effects */
.typing-text {
    padding-top: 5em;
}

.typing-text p {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-family: 'Roberto''New Tegomin', 'cursive';

}

.typing-text p span.typed-text {
    font-weight: bolder;
    color: #ffef13;

}

.typing-text p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.typing-text p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
    background-color: #ccc;
    }

    49% {
    background-color: #ccc;
    }

    50% {
    background-color: transparent;
    }

    99% {
    background-color: transparent;
    }

    100% {
    background-color: #ccc;
    }
}

.txt-rotate {
    font-family: 'Lobster', cursive;
    color:#ffef13;
}

/* text1 effects */
.section1text1 {
    color: #fff;
    width: 100%;
    padding-left: 25%; 
    padding-right: 25%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Aleo', serif;
    font-size: x-large;
}
.createform
{

  color: rgb(255, 255, 255);
  /* margin-top: 3em; */
  margin:4em;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1.1em;
  border-radius: 8px;
  padding-top: 2em;
  padding-bottom: 3em;
  /* border-radius: 1.2em; */
  background-color: rgba(242, 242, 247, 0.21);
  height: 12em;
  /* background-image:linear-gradient(to bottom right, #bac3ca,#fff); */
  /* box-shadow: 10px 10px 5px grey; */
}
.col-50 {
  
    float:left;
    width: 50%;
    text-align: center;
  }
input[type=text],input[type=number] ,select, textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
background-color: #eee;
}
.createform label {
    /* padding: 12px 12px 12px 0; */
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: x-large;
  }

  .but {
    /* background-color: rgb(43, 41, 54);
    color: white;
    padding: 12px 20px;
    border: none;
    margin: 20px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
    float: right; */
    color: rgba(12, 24, 49, 0.901);
  background-image:linear-gradient(to left bottom , rgba(236, 236, 236, 0.815),rgba(119, 119, 116, 0.822));
  padding: 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  width: 200px;
  margin-left: 80%;
  /* margin-left: 75%; */
  font-family:Formular,sans-serif;
  font-weight: 600;
}

.btn:hover {
  
    color: rgba(12, 24, 49, 1);
    background-image:linear-gradient(to left bottom , rgb(236, 236, 236),rgb(119, 119, 116));
    font-weight: bolder; 
  }
